.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 55px;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 200;
    padding: 8px 40px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Style for the Profile button specifically */
  .nav-link:last-child {
    border: 2px solid white;
    border-radius: 5px;
  }